[mysqld]
skip-host-cache
skip-name-resolve
skip-log-bin

#pinba_temp_pool_size=2000
#<max expected requests per second> * <stats_history> = <request pool size>
#pinba_request_pool_size=2000
#pinba_tag_report_timeout=-1 #Default value is -1, i.e. keep the data updated forever.

# innodb
innodb_buffer_pool_size=5M
innodb_log_buffer_size=256K
innodb_ft_cache_size=1600000
innodb_ft_total_cache_size=32000000

# per thread or per operation settings
thread_stack=131072
sort_buffer_size=32K
read_buffer_size=8200
read_rnd_buffer_size=8200
max_heap_table_size=16K
tmp_table_size=1K
bulk_insert_buffer_size=0
join_buffer_size=128
net_buffer_length=1K
innodb_sort_buffer_size=64K

#settings that relate to the binary log (if enabled)
binlog_cache_size=4K
binlog_stmt_cache_size=4K
